.creationcompte{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px 24px;
gap: 4px;
position: absolute;
width: 143px;
height: 35px;
left: 116px;
top: 572px;
background: #296492;
border-radius: 100px;
margin-top: 113px;
}


.pa{
    font-family:'Bahnschrift SemiBold';
    font-size: 23px;
    margin-left: 67px;
    margin-top: 60px;
    margin-bottom: 38px;  
}

.box2{
    box-sizing: border-box;
    left: 17px;
    top: 298px;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-top: 27px;
    margin-bottom: 18px;
    width: 242px;
    }