.modif {
    top: 827px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    gap: 4px;
    position: absolute;
    width: 143px;
    height: 35px;
    left: 116px;
    background: #296492;
    border-radius: 100px;
}
